* {
  margin: 0;
  padding: 0;
}

header {
  background: #505050;
  background: linear-gradient(to bottom,rgb(0 0 0 / 35%) 0,rgb(255 255 0 / 0) 100%);
}

.new-header {
  background: linear-gradient(to bottom,rgb(0 0 0 / 35%) 0,rgb(255 255 0 / 0) 100%);
  z-index: 2;
  width: 100%;
}

.new-header.scroll {
  background: linear-gradient(to bottom,rgb(0 0 0 / 50%) 0,rgb(0 0 0 / 30%) 100%) !important;
  border-bottom: 1px solid rgb(255 255 255 / .3);
}

header, .navbar {
  height: 110px;
}

.scale-img{
  -webkit-transition: all 0.4s;
        transition: all 0.4s;
}

.scale-img:hover{
  -webkit-transform: scale(1.15) rotate(0.01deg);
  transform: scale(1.15) rotate(0.01deg);
}

.new-header .nav-link {
  font-size: 14px;
  letter-spacing: .35px;
  color: white !important;
}

.carousel-inner img {
  min-height: 350px;
  max-height: 600px;
  width: 100%;
}

.logo {
  height: 48px;
  width: auto;
}

.footer-page {
  padding: 70px 0;
  background-color: #091426;
}

.footer-page p {
  font-size: 12px !important;
  line-height: 18px !important;
  margin-bottom: 0;
  color: white;
}

